<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="style" href="{{asset "built/index.css"}}">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />

    <title>{{meta_title}}</title>

    {{{block 'styles'}}}

    {{ghost_head}}
</head>

<body class="{{body_class}}">

{{> header}}

<main>

    {{{body}}}

</main>

{{> footer}}

{{#is 'post'}}
    {{> components/sticky-footer}}
{{/is}}

<script src="{{asset "built/index.js"}}" defer></script>

{{{block 'scripts'}}}

{{ghost_foot}}


</body>
</html>
