{{!< default}}

{{#post}}

{{> components/sticky-header}}

<div class="post-page">
    <section class="post-hero">
        <div class="wrapper">
            <div class="post-hero__tags">
                <a href="/">Insights</a> / 
                {{#foreach tags}}
                    {{#match @number "=" 1}}
                        <a href="/{{slug}}">{{name}}</a>
                    {{else}}
                        | <a href="/{{slug}}">{{name}}</a>
                    {{/match}}
                {{/foreach}}
            </div>
            <h1>{{title}}</h1>
            {{#if feature_image}}
                <picture class="gh-card-picture">
                    <source 
                        srcset="
                        {{img_url feature_image absolute="true" size="xxs" format="avif"}} 30w,
                        {{img_url feature_image absolute="true" size="xs" format="avif"}} 100w,
                        {{img_url feature_image absolute="true" size="s" format="avif"}} 300w,
                        {{img_url feature_image absolute="true" size="m" format="avif"}} 600w,
                        {{img_url feature_image absolute="true" size="l" format="avif"}} 1200w,
                        {{img_url feature_image absolute="true" size="xl" format="avif"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        type="image/avif"
                        {{^if @first}}loading="lazy"{{/if}}
                    >
                    <source 
                        srcset="
                        {{img_url feature_image absolute="true" size="xxs" format="webp"}} 30w,
                        {{img_url feature_image absolute="true" size="xs" format="webp"}} 100w,
                        {{img_url feature_image absolute="true" size="s" format="webp"}} 300w,
                        {{img_url feature_image absolute="true" size="m" format="webp"}} 600w,
                        {{img_url feature_image absolute="true" size="l" format="webp"}} 1200w,
                        {{img_url feature_image absolute="true" size="xl" format="webp"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        type="image/webp"
                        {{^if @first}}loading="lazy"{{/if}}

                    >
                    <img
                        srcset="
                        {{img_url feature_image absolute="true" size="xxs"}} 30w,
                        {{img_url feature_image absolute="true" size="xs"}} 100w,
                        {{img_url feature_image absolute="true" size="s"}} 300w,
                        {{img_url feature_image absolute="true" size="m"}} 600w,
                        {{img_url feature_image absolute="true" size="l"}} 1200w,
                        {{img_url feature_image absolute="true" size="xl"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        src="{{img_url feature_image absolute="true" size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        class="card__image lazyload"
                        {{^if @first}}loading="lazy"{{/if}}
                    >
                </picture>
            {{/if}}
            <div class="post-hero__content">
                {{#if custom_excerpt}}
                <p>{{custom_excerpt}}</p>
                {{/if}}
                {{#primary_author}}
                    <div class="post-hero__author post-hero-author">
                        {{#if profile_image}}
                            <img class="post-hero-author__image" class="" src="{{profile_image}}" alt="{{name}}">
                        {{/if}}
                        <p class="post-hero-author__text">
                            <span class="post-hero-author__name">{{name}}</span>
                            <span class="post-hero-author__bio">{{bio}}</span>
                        </p>
                    </div>
                {{/primary_author}}
                <div class="post-hero__footer post-hero-footer">
                    <div class="post-hero-footer__meta">
                        {{#if reading_time}}
                            <div>
                                {{> icons/reading-time}}
                                <time datetime="{{reading_time}}">Reading time: <span>{{reading_time minute="1 MIN" minutes="% MIN"}}</span></time>
                            </div>
                        {{/if}}
                        <div>
                            {{> icons/globe}}
                            <time datetime="{{published_at}}">{{date published_at format='MMM D, YYYY · '}}<span>{{date published_at format='h:mm  A z'}}</span></time>
                        </div>
                    </div>
                    <ul class="post-hero-footer__share">
                        <li>
                            <a target="_blank" href="https://twitter.com/intent/tweet?text={{url absolute='true'}}">{{> icons/share/twitter}}</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}">{{> icons/share/facebook}}</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute='true'}}">{{> icons/share/linkedin}}</a>
                        </li>
                        <li>
                            <button aria-label="copy link" class="js-copy-url">{{> icons/share/copy}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="post-content">
        <div class="wrapper">
            <div class="gh-content gh-canvas js-toc-content">
                {{content}}
            </div>
            {{> components/post-sidebar}}
        </div>
    </div>

    {{#get "posts" include='tags,authors' limit='3' filter='id:-{{id}}+tag:{{primary_tag.slug}}'}}   
    {{#if posts}}
    <section class="post-related">
        <div class="wrapper">
            <h2 class="post-related__title">Related Articles</h2>
        </div>
        <div class="articles-loop">
            <div class="wrapper">   
                {{#foreach posts}}
                    {{> cards/card classes='card--default'}}
                {{/foreach}}
            </div>
        </div>
    </section>
    {{/if}}
    {{/get}}
</div>

{{/post}}