{{!< default}}

{{#tag}}

<section class="tag-page-hero">
    <div class="wrapper">
        <div class="tag-page-hero__text">
            <h1>{{name}}</h1>
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
        </div>
        {{#if feature_image}}
            <img src="{{feature_image}}" alt="{{name}}">
        {{/if}}
    </div>
</section>

{{> components/category-filter active=slug}}

<div class="tag-page-loop">
    {{> components/loop filter='tag:-hash-hide+tag:{{slug}}'}}
</div>

{{#get "posts" filter='tag:hash-{{slug}}'}}
{{#if posts}}
<div class="tag-page-content">
    <div class="wrapper">
        {{#foreach posts}}
            {{> cards/minimal-card}}
        {{/foreach}}
    </div>
</div>
{{/if}}
{{/get}}


{{/tag}}