<article class="card card--featured">
    <h4 class="card__title"><a href="{{url}}">{{title}}</a></h4>
    <div class="card__footer">
        <span class="card__author">{{primary_author.name}}</span>
        <span class="card__time"><time datetime="{{published_at}}">{{date published_at format='MMM D'}}</time></span>
    </div>
</article>