<article class="card card--minimal">
    <div>
        <h3 class="card__title">{{title}}</h3>
        {{content}}
    </div>
    <picture>
        <img 
            src="{{feature_image}}" 
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            class="card__image lazyload"
        >
    </picture>
</article>